<div class="home-container">
    <button mat-raised-button color="primary">COMPRA YA</button>
</div>
<div class="services-container">
    <h2 class="mb-5">SERVICES</h2>
    <div class="space"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error earum necessitatibus asperiores amet,
        voluptatum exercitationem optio architecto repellat. A autem, blanditiis id saepe sed esse! Impedit voluptate
        nobis quia!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error earum necessitatibus asperiores amet,
        voluptatum exercitationem optio architecto repellat. A autem, blanditiis id saepe sed esse! Impedit voluptate
        nobis quia!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error earum necessitatibus asperiores amet,
        voluptatum exercitationem optio architecto repellat. A autem, blanditiis id saepe sed esse! Impedit voluptate
        nobis quia!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error earum necessitatibus asperiores amet,
        voluptatum exercitationem optio architecto repellat. A autem, blanditiis id saepe sed esse! Impedit voluptate
        nobis quia!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error earum necessitatibus asperiores amet,
        voluptatum exercitationem optio architecto repellat. A autem, blanditiis id saepe sed esse! Impedit voluptate
        nobis quia!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error earum necessitatibus asperiores amet,
        voluptatum exercitationem optio architecto repellat. A autem, blanditiis id saepe sed esse! Impedit voluptate
        nobis quia!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error earum necessitatibus asperiores amet,
        voluptatum exercitationem optio architecto repellat. A autem, blanditiis id saepe sed esse! Impedit voluptate
        nobis quia!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error earum necessitatibus asperiores amet,
        voluptatum exercitationem optio architecto repellat. A autem, blanditiis id saepe sed esse! Impedit voluptate
        nobis quia!</p>
</div>
