.login-container {
    background: black;
    height: 800px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .form-container{
    padding: 30px;
    width: 50%;
    form{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
  }