nav {
  font-size: 15px;
  font-weight: 300;
  color: white;
  //border-bottom: solid 0.5px rgba($color: #ffffff, $alpha: 0.4);
}

.flex {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.nav-container {
  img {
    height: 50px;
  }
  li {
    text-decoration: none;
    list-style: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
