<div class="section-container">
    <select id='select-multiplex' name="select" (change)="getMoviesList($event)">
        <option value="--"> Selecciona un multiplex </option>
        <option *ngFor="let multiplex of multiplexes" [value]="multiplex.id_multiplex"> {{multiplex.nombre_multiplex}}
        </option>
    </select>
    <div class="movies-container row">
        <mat-spinner *ngIf="this.movies == []"></mat-spinner>
        <div class="col-md-4 p-5" *ngFor="let movie of movies">
            <div class="item-movie">
                <img class="w-100 mb-5" [src]="'./../../../assets/imgPeliculas/'+this.movie.id_pelicula+'.jpg'" alt="">
                <p class="title">
                    {{movie.nombre}}
                </p>
                <h3>
                    {{movie.genero}}
                </h3>
                <h3>
                    Duracion: {{movie.duracion}}m
                </h3>
                <h3>
                    Sala: {{movie.numero_sala_multiplex}}
                </h3>
                <h3>
                    Sillas disponibles generales: {{movie.cantidad_sillas_general}}
                </h3>
                <h3>
                    Sillas disponibles preferencial: {{movie.cantidad_sillas_preferencial}}
                </h3>
                <h3>
                    Sala: {{movie.numero_sala_multiplex}}
                </h3>
                <h3>
                    Silla General: {{movie.precio_silla_general}}
                </h3>
                <h3>
                    Silla Preferencial: {{movie.precio_silla_preferencial}}
                </h3>
                <label>Preferencial</label>
                <input #ticketPreferencial class="cantidad" type="number" min="0" max="50" value="0">
                <label>General</label>
                <input #ticketHGeneral class="cantidad" type="number" min="0" max="50" value="0">
                <button
                    (click)="addTickets(ticketHGeneral.value,ticketPreferencial.value,movie.precio_silla_general,movie.precio_silla_preferencial,movie.numero_sala_multiplex , movie.nombre)">
                    Añadir a Carro
                </button>
            </div>
        </div>

    </div>
</div>